{{define "welcome"}}<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Create a Learning Object - Formoid css form</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="blurBg-true" style="background-color:#EBEBEB">



<!-- Start Formoid form-->
<link rel="stylesheet" href="assets/css/flat-black.css" type="text/css" />
<form id="creatlo-form" class="formoid-flat-black" style="background-color:#FFFFFF;font-size:19px;font-family:'Palatino Linotype','Book Antiqua',Palatino,serif;color:#666666;max-width:480px;min-width:150px" method="post" action="/createlo"><div class="title"><h2>Create a Learning Object</h2></div>
	<div class="element-input" title="Purpose "><label class="title">Purpose <span class="required">*</span></label><input class="large" type="text" name="purpose" required="required"/></div>
	<div class="element-input" title="Description"><label class="title">Description</label><input class="large" type="text" name="description" /></div>
	<div class="element-input" title="Keywords"><label class="title">Keywords</label><input class="large" type="text" name="keywords" /></div>
	<div class="element-select" title="Format"><label class="title">Format<span class="required">*</span></label><div class="large"><span><select name="format" required="required">

		<option value="Image">Image</option>
		<option value="Video">Video</option>
		<option value="Andio">Andio</option>
		<option value="Text">Text</option>
		<option value="Game">Game</option></select><i></i></span></div></div>
	<div class="element-multiple" title="Prerequisites"><label class="title">Prerequisites<span class="required">*</span></label><div class="large"><select data-no-selected="Nothing selected" OnChange="ChangeSelection(this.form, this)" name="prerequisites" multiple="multiple" required="required">

		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option></select></div></div>
	<div class="element-select" title="Object Type"><label class="title">Object Type<span class="required">*</span></label><div class="large"><span><select name="object_type" required="required">

		<option value="Exercise">Exercise</option>
		<option value="Simulation">Simulation</option>
		<option value="Questionaire">Questionaire</option>
		<option value="Figure">Figure</option>
		<option value="Index">Index</option>
		<option value="Table">Table</option>
		<option value="Narrative Text">Narrative Text</option>
		<option value="Exam">Exam</option>
		<option value="Lecture">Lecture</option></select><i></i></span></div></div>
	<div class="element-select" title="Interactivity Type"><label class="title">Interactivity Type<span class="required">*</span></label><div class="large"><span><select name="interactivity_type" required="required">

		<option value="Active">Active</option>
		<option value="Expositive">Expositive</option>
		<option value="Mixed">Mixed</option></select><i></i></span></div></div>
	<div class="element-select" title="Interactivity level"><label class="title">Interactivity level<span class="required">*</span></label><div class="large"><span><select name="interactivity_level" required="required">

		<option value="Very Low">Very Low</option>
		<option value="Low">Low</option>
		<option value="Meduim">Meduim</option>
		<option value="High">High</option>
		<option value="Very High">Very High</option></select><i></i></span></div></div>
	<div class="element-select" title="Semantic Density"><label class="title">Semantic Density</label><div class="large"><span><select name="semantic_density" >

		<option value="Very Low">Very Low</option>
		<option value="Low">Low</option>
		<option value="Meduim">Meduim</option>
		<option value="High">High</option>
		<option value="Very High">Very High</option></select><i></i></span></div></div>
	<div class="element-textarea" title="Learning Content"><label class="title">Learning Content<span class="required">*</span></label><textarea class="medium" name="learning_content" cols="20" rows="5" required="required"></textarea></div>
<div class="submit"><input type="submit"  value="Submit"/></div></form>
<script type="text/javascript" src="assets/js/jquery.min.js"></script>
<script type="text/javascript" src="assets/js/flat-black.js"></script>
<script type="text/javascript" src="assets/js/json2.js"></script>
<script type="text/javascript" src="assets/js/main.js"></script>
<script type="text/javascript" src="assets/js/jquery.msgbox.min.js"></script>

<!-- Stop Formoid form-->

</body>
</html>
{{end}}
